@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes expand-height {
  from {
    height: 0;
    opacity: 0.5;
  }
  to {
    height: 8rem;
    opacity: 1;
  }
}

.animate-expand-height {
  animation-name: expand-height;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
